@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


a {
    text-decoration: none;
    font-weight: bolder;
}

p {
    text-indent: 25px;
    text-align: justify;
}

img {
    vertical-align: middle;
    border-style: none;
}

.col > img {
    height: 300px;
}


/* Classes */

.hcw-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.hcw-card p {
    text-indent: 10px;
}


.row {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.hcw-image{
    max-width: 97%;
    height: auto;
    margin: 5px;
}

.hcw-image-bordered {
    padding: 4px;
    border: 1px solid black;
    border-radius: 7px;
}

.col {
    
}

.hcw-container {
    padding: 0.001em 16px;
}

.hcw-panel { 
    padding: 0.001em 16px; 
    margin-top: 16px;
    margin-bottom: 16px; 
}

.hcw-text-center { text-align: center; }
.hcw-text-left { text-align: left; }
.hcw-text-right { text-align: right; }
.hcw-text-justify { text-align: justify; }

.hcw-font-dekko { font-family: 'Dekko', cursive; }



.hcw-btn {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space:  nowrap;
    border-radius: 3px;
}

.hcw-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hcw-btn:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.hcw-btn.hcw-disabled:hover, .hcw-btn:disabled:hover {
    box-shadow: none;
}

.hcw-bar {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.hcw-bar-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.hcw-bar .hcw-btn, .hcw-bar-right .hcw-btn {
    border-radius: 0px;
}



.hcw-padding-16 { padding:  16px; }
.hcw-padding-10 { padding:  10px; }

.hcw-margin-10 { margin: 10px; }

.hcw-background-ecru { background-color: #C1AE7C; color: black; }
.hcw-background-raisin-black { background-color: #272727; color: white; }
.hcw-background-tumbleweed { background-color:  #CEA07E; color: white; }
.hcw-background-state-gray { background-color:  #628395; color: black; }
.hcw-background-eggplant { background-color:  #5E4352; color: white; }
.hcw-background-white { background-color:  #ffff; color: black; }
.hcw-background-silver-pink { background-color: #D5BBB1; color: black; }
.hcw-background-baby-blue-eyes { background-color: #A1C6EA; color: black; }

.hcw-btn-ecru { background-color: #C1AE7C; color: black; }
.hcw-btn-raisin-black { background-color: #272727; color: white; }
.hcw-btn-tumbleweed { background-color:  #CEA07E; color: white; }
.hcw-btn-state-gray { background-color:  #628395; color: black; }
.hcw-btn-eggplant { background-color:  #5E4352; color: white; }
.hcw-btn-white { background-color:  #ffff; color: black; }



.hcw-flex-row {
    display: flex;
}

.hcw-flex-column {
    
}


/* Tela Pequena */

@media screen and (max-width: 600px){
    .hcw-bar {
        flex-direction: column;
    }
    .hcw-bar-right {
        flex-direction: column;
    }
}
